# Clock de 25 MHz
LOCATE   COMP "clk" SITE "P3";
IOBUF    PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;

# Segmentos do display (cátodo comum)
LOCATE COMP "a" SITE "E2";  IOBUF PORT "a" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "b" SITE "D2";  IOBUF PORT "b" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "c" SITE "B1";  IOBUF PORT "c" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "d" SITE "A3";  IOBUF PORT "d" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "e" SITE "C3";  IOBUF PORT "e" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "f" SITE "C4";  IOBUF PORT "f" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
LOCATE COMP "g" SITE "A18";  IOBUF PORT "g" IO_TYPE=LVCMOS33 DRIVE=8 SLEWRATE=FAST;
